**/__pycache__/

# Ignore the .git directory
/.git/

# Ignore temporary files
*.swp
*.swo
*.bak
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore backup files
*~
config/kitty/kitty.conf
config/ranger/plugins/__pycache__/__init__.cpython-311.opt-1.pyc
