window {
margin: 0px;
border: 2px solid #1C1C1C;
border-radius: .8rem;
background-color: #282828;
opacity: .9;
}

#input {
margin: 5px;
border: none;
border-radius: .5rem;
color: #FDFCFF;
background-color: #1C1C1C;
}

#input:focus{
  box-shadow: 0 0 4px 2px #565858;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #FDFCFF;
}

#entry:selected {
background-color: #565858;
border-radius: .5rem;
}
