@define-color    bg0_h     #3F4451;
@define-color    bg0       #282C34;
@define-color    bg1       #D7DAE0;
@define-color    bg2       #ABB2BF;
@define-color    bg3       #4F5666;
@define-color    bg4       #7C6F64;
@define-color    fg0       #ABB2BF;
@define-color    fg1       #D7DAE0;
@define-color    fg2       #E6E6E6;
@define-color    fg3       #ABB2BF;
@define-color    fg4       #D7DAE0;
@define-color    red       #E06C75;
@define-color    green     #98C379;
@define-color    yellow    #D19A66;
@define-color    blue      #61AFEF;
@define-color    purple    #C678DD;
@define-color    aqua      #56B6C2;
@define-color    orange    #D19A66;

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @fg4;
  border-radius: 0.1em;
  background-color: @bg0;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg0;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg0;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @bg0;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @fg1;
  background-color: @bg0;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @fg1;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @bg0;
}

#entry arrow {
  border: none;
  color: @fg4;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @fg4;
}

#entry:selected #text {
  color: @purple;
}

#entry:drop(active) {
  background-color: @fg4!important;
}
