@define-color bg0 #1C1C1C; /* Background */
@define-color bg1 #282828; /* Tab bar active background */
@define-color fg1 #FDFCFF; /* Foreground (bright) */
@define-color bg2 #665c54;
@define-color red #E06C75; /* Red */
@define-color soft_red #BE5046; /* Softer Red */
@define-color green #98C379; /* Green */

* {
  font-family: 'Maple Mono NF:style=Bold';
  font-size: 14px;
  min-height: 0;
  border-radius: 0;
  border: none;
}

.modules-left {
  background-color: rgba(40, 40, 40, 0);
  margin-left: 8px;
}

.modules-right {
  background-color: rgba(40, 40, 40, 0);
}

.modules-center {
  background-color: rgba(40, 40, 40, 0);
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.45);
  transition-property: background-color;
  transition-duration: 0.25s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: rgba(0, 0, 0, 0.45);
}

#workspaces {
  background-color: transparent;
  margin-right: 4px;
}

#workspaces button {
  /* margin: 0px 4px 0px 4px; */
  background-color: transparent;
  color: @fg1;
}

#workspaces button:hover {
  background: @bg1;
}

#workspaces button.focused {
  color: @fg1;
  background-color: @bg2;
}

#workspaces button.urgent {
  color: @red;
  border-bottom: 2px solid @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#window,
#custom-notification {
  margin: 0px 4px 0px 4px;
  background-color: transparent;
  color: @fg1;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @fg1;
    color: #1c1c1c;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @fg1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  margin-right: 16px;
  font-size: 16px;
}

label:focus {
  background-color: #1c1c1c;
}

#tray {
  background-color: @bg0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#custom-notification {
  font-size: 16px;
  margin-right: 12px;
}
