
/*
 *
 * OneDark Pro color scheme for Waybar
 *
 */

@define-color bg0_hard #3F4451;   /* Background (dark) */
@define-color bg0 #282C34;        /* Background */
@define-color bg0_soft #4F5666;   /* Inactive background */
@define-color bg1 #D7DAE0;        /* Tab bar active background */
@define-color bg2 #ABB2BF;        /* Inactive tab foreground */
@define-color bg3 #ABB2BF;        /* Selection background */
@define-color fg0 #ABB2BF;        /* Foreground */
@define-color fg1 #ABB2BF;        /* Foreground (bright) */
@define-color fg2 #D7DAE0;        /* Bright white (active tab) */
@define-color red #E06C75;        /* Red */
@define-color soft_red #BE5046;   /* Softer Red */
@define-color green #98C379;      /* Green */
@define-color yellow #D19A66;     /* Yellow */
@define-color blue #61AFEF;       /* Blue */
@define-color purple #C678DD;     /* Purple */
@define-color aqua #56B6C2;       /* Cyan */
@define-color orange #D19A66;     /* Orange */

* {
  font-family: 'Maple Mono NF:style=Bold';
  font-size: 12px;
  min-height: 0;
  border-radius: 0;
  border: none;
}

.modules-left {
  background-color: rgba(40, 40, 40, 0);
  border-radius: 2rem;
}

.modules-right {
  background-color: rgba(40, 40, 40, 0);
  border-radius: 2rem;
}

.modules-center {
  border-radius: 2rem;
  background-color: rgba(40, 40, 40, 0);
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.45);  
  transition-property: background-color;
  transition-duration: 0.25s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: rgba(0, 0, 0, 0.45);  
}

#workspaces {
  background-color: rgba(63, 68, 81, 0.0); 
  border-radius: 1rem;
}

#workspaces button {
  padding: 1px;
  margin: 0px 4px 0px 4px;
  background-color: transparent;
  color: @fg1;
}

#workspaces button:hover {
  background: @bg2;
}

#workspaces button.focused {
  color: @blue;
  border-bottom: 2px solid @bg3;
  background-color:rgba(40, 44, 52, 1.0);
  /* background-color: rgba(63, 68, 81, .90);  */
}

#workspaces button.urgent {
  color: @red;
  border-bottom: 2px solid @red;
}

#mode {
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  /* border-radius: 2rem; */
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: @fg1;
}

#window {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: transparent;
  border-radius: 2rem;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  /* padding-top: 1px; */
  background-color: transparent;
}

#battery {
  background-color: rgba(0, 0, 0, 0);
  /* padding-top: 2px; */
}

#battery.charging,
#battery.plugged {
  color: @green;
  background-color: transparent;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: transparent;
}

#memory {
  background-color: transparent;
}

#disk {
  background-color: @orange;
}

#backlight {
  background-color: @aqua;
}

#network {
  background-color: transparent;

}

#network.disconnected {
  background-color: @red;
  color: @bg0;
}

#pulseaudio {
  background-color: transparent;
}

#pulseaudio.muted {
  background-color: transparent;
  color: @soft_red;
}

#custom-media {
  background-color: @green;
  color: @bg0;
  /* min-width: 100px; */
}

#custom-media.custom-spotify {
  background-color: @green;
}

#custom-media.custom-vlc {
  background-color: @yellow;
}

#temperature {
  background-color: @orange;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  background-color: @bg0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#idle_inhibitor {
  background-color: @bg1;
}

#idle_inhibitor.activated {
  background-color: @bg3;
  color: @bg1;
}

#mpd {
  background-color: @green;
  color: @bg0;
}

#mpd.disconnected {
  background-color: @red;
}

#mpd.stopped {
  background-color: @aqua;
}

#mpd.paused {
  background-color: @green;
}

#language {
  background: @aqua;
  color: @red;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: @green;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
