/*
*
* Gruvbox Dark Soft palette
*
*/

@define-color bg0_hard #1d2021;
@define-color bg0 #282828;
@define-color bg0_soft #32302f;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;
@define-color red #fb4934;
@define-color soft_red #e57373;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

* {
  font-family: 'CaskaydiaCove Nerd Font', 'Caskaydia Code', 'Material Design Icons', 'NerdFonts', 'FontAwesome', sans-serif;
  font-size: 11px;
}

.modules-right {
  margin: 4px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2rem;
}

.modules-center {
  margin: 4px;
  padding: 3px;
  border-radius: 2rem;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.70);
  color: @fg1;
  transition-property: background-color;
  transition-duration: 0.25s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: rgba(40, 40, 40, 0.70);
}

#workspaces {
  margin: 4px;
  padding: 2px;
  background-color: rgba(60, 56, 54, 0.0);
  border-radius: 1rem;
}

#workspaces button {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  color: @fg1;
}

#workspaces button:hover {
  background: @bg2;
}

#workspaces button.focused {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#mode {
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  border-radius: 2rem;
  padding-left: 8px;
  padding-right: 8px;
  margin: 2px;
  color: @fg1;
}

#window {
  margin: 4px;
  background-color: transparent;
  border-radius: 2rem;
  padding-left: 8px;
  padding-right: 8px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  padding-top: 1px;
  background-color: transparent;
}

#battery {
  background-color: rgba(0, 0, 0, 0);
}

#battery.charging,
#battery.plugged {
  color: @green;
  background-color: transparent;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  padding-top: 1px;
  background-color: transparent;
}

#memory {
  padding-top: 2px;
  background-color: transparent;
}

#disk {
  background-color: @orange;
}

#backlight {
  background-color: @aqua;
}

#network {
  padding-top: 2px;
  background-color: transparent;
}

#network.disconnected {
  padding-top: 2px;
  background-color: @red;
  color: @bg0;
}

#pulseaudio {
  background-color: transparent;
  color: @blue;
  padding-top: 2px;
  margin-right: 4px;
}

#pulseaudio.muted {
  background-color: transparent;
  color: @soft_red;
  padding-top: 2px;
  margin-right: 4px;
}

#custom-media {
  background-color: @green;
  color: @bg0;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: @green;
}

#custom-media.custom-vlc {
  background-color: @yellow;
}

#temperature {
  background-color: @orange;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  background-color: @bg0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#idle_inhibitor {
  background-color: @bg1;
}

#idle_inhibitor.activated {
  background-color: @bg3;
  color: @bg1;
}

#mpd {
  background-color: @green;
  color: @bg0;
}

#mpd.disconnected {
  background-color: @red;
}

#mpd.stopped {
  background-color: @aqua;
}

#mpd.paused {
  background-color: @green;
}

#language {
  background: @aqua;
  color: @red;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: @green;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
