/*
*
* Catppuccin Macchiato palette
* Maintainer: rubyowo
*
*/

@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface1_transparent rgba(73, 77, 100, 0.8);
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color base_transparent rgba(36, 39, 58, 0.9);
@define-color mantle #1e2030;
@define-color crust #181926;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  /* font-family: 'Material Design Icons', 'NerdFonts', FontAwesome, 'Fira Code', sans-serif; */
  font-family: 'FiraCode Nerd Font', 'Fira Code', 'Material Design Icons', 'NerdFonts', 'FontAwesome', sans-serif;
  font-size: 13px;
}

.modules-right {
  margin: 4px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2rem;
}

.modules-center {
  margin: 4px;
  padding: 3px;
  border-radius: 2rem;
}

window#waybar {
  background-color: @base_transparent;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.25s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: @base_transparent;
}

#workspaces {
  margin: 8px;
  padding: 2px;
  background-color: @surface1;
  border-radius: 1rem;
}

#workspaces button {
  padding: 0px;
  margin: 2px;
  background-color: transparent;
  color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: @surface2;
}

#workspaces button.focused {
  color: @lavender;
}

#workspaces button.urgent {
  color: @red;
}

#mode {
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  border-radius: 2rem;
  padding-left: 8px;
  padding-right: 8px;
  margin: 2px;
  color: @text;
}

#window {
  margin: 4px;
  background-color: transparent;
  /* background-color: @surface0; */
  border-radius: 2rem;
  padding-left: 8px;
  padding-right: 8px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  padding-top: 2px;
  background-color: transparent;
  /* background-color: @surface0; */
}

#battery {
  background-color: rgba(0, 0, 0, 0);
  /* background-color: @surface0; */
}

#battery.charging,
#battery.plugged {
  color: @green;
  background-color: transparent;
  /* background-color: @surface0; */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  padding-top: 1px;
  background-color: transparent;
}

#memory {
  background-color: transparent;
}

#disk {
  background-color: @peach;
}

#backlight {
  background-color: @teal;
}

#network {
  padding-top: 1px;
  background-color: transparent;
}

#network.disconnected {
  background-color: @red;
  color: @crust;
}

#pulseaudio {
  background-color: transparent;
  color: @text;
}

#pulseaudio.muted {
  background-color: transparent;
  color: @red;
  padding-top: 1px;
}

#custom-media {
  background-color: @green;
  color: @crust;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: @green;
}

#custom-media.custom-vlc {
  background-color: @yellow;
}

#temperature {
  background-color: @peach;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  background-color: @crust;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#idle_inhibitor {
  background-color: @mantle;
}

#idle_inhibitor.activated {
  background-color: @overlay0;
  color: @mantle;
}

#mpd {
  background-color: @green;
  color: @crust;
}

#mpd.disconnected {
  background-color: @red;
}

#mpd.stopped {
  background-color: @teal;
}

#mpd.paused {
  background-color: @green;
}

#language {
  background: @teal;
  color: @maroon;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: @green;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
